    <section class="auth-0 padt">
        <div class="container">
           <div>
                <div class="row">
                    <div class="box col-md-6 offset-md-3">
                       <div class="spacer-sm"></div>
                        <h2 class="text-center">WELCOME</h2>
                        <div class="row">
                            {{!-- <div class="col-8 offset-2">
                               // remove div? 
                            </div> --}}
                        </div>
                        <div class="spacer-sm"></div>
                        <div class="row">
                            <div class="col-10 offset-1 col-md-8 offset-md-2">
                                <a href="/auth/facebook" class="btn btn-auth btn-facebook"><i class="fab fa-facebook"></i>  Continue with Facebook</a>
                
                                <button class="btn btn-auth" disabled><i class="fab fa-google"></i>  Continue with Google</button>
                               
                                 <p class="terms" >by clicking, I accept all<a href="/terms"> terms and conditions</a> </p>
                            </div>
                        </div>
                       
                        <div class="spacer"></div>
                        <p></p>
                    </div>
            
                </div>
           </div>
           
        </div>
        <div class="spacer"></div>
    </section>
    