
<section style="padding-top:120px;padding-bottom:250px;">
<div class = "container">
<div class="spacer"></div>
<p class="text-center" >

<div class="row">
    

<div class="col-md-4">
    <div class="card" style="width: 300px; height: 600px">
  <img class="card-img-top" src="https://images.pexels.com/photos/1162964/pexels-photo-1162964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Join a Group</h5>
    <p class="card-text">To interact, reach out and exchanges voices and to network in groups. Coming Soon.</p>
    <a href="#" class="btn btn-primary">Interested </a>
  </div>
</div>
</div>

<div class="col-md-4">
 <div class="card" style="width: 300px;height: 600px">
  <img class="card-img-top" src="https://images.pexels.com/photos/935756/pexels-photo-935756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Chat or Video Call </h5>
    <p class="card-text">Enjoy chatting via text or video call . Coming Soon.</p>
    <a href="/chats" class="btn btn-primary">Begin Chat</a>
  </div>
</div>
</div>

<div class="col-md-4">
 <div class="card" style="width: 300px;height: 600px">
  <img class="card-img-top" src="https://images.pexels.com/photos/1157557/pexels-photo-1157557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Events</h5>
    <p class="card-text"> To host or find events. Go and Enjoy yourself ! </p>
    <a href="/events" class="btn btn-primary">Go</a>
  </div>
</div>
</div>

</div>



</div>
</section>
<div class="spacer"></div>
        


