    <section class="index-0">
        <di class="container">
               <div class="spacer"></div>
               {{!-- <div class="text-center">
            <a href="/auth" class="btn btn-light center-block btn-lg">  </a>
            </div> --}}
            <div class="spacer-sm"></div> 
            <div style="padding-top:200px" class="text-center">
            {{!-- <a href="#" style="font-size:60px" class="btn btn-light center-block btn-lg" > START YOUR ADVENTURE </a> --}}
                <a href="/auth" style="font-size:60px" class="btn btn-light center-block btn-lg"> START YOUR ADVENTURE </a>
            </div>
          
       
        </div>
    </section>
    
    <div class="spacer"></div>
    <section>
       <div class="container">
          <h2 class="text-center">Our Mission</h2>
          <div class="spacer-sm"></div>
          <div class="row" >
              <div class = "text-center">
 To establish a central hub for the International Deaf Community via a website and app. 
 Through our platform, we want users to be able find other Deaf and Hard of Hearing people/Signers
  from any of the seven continents. 
 Users will be able to choose from a wide range of options, whether they'd like to host a traveler, 
 find a tour guide, or practice a new sign language, they can do so according to their own
  preferences. With Small World That, our hope is for Deaf people all over the world to take advantage
   of the small community we have and form new connections with one another in the most convenient way
    possible.
    </div>
</div>



</div>

    
    </section>
    
    <div class="spacer"></div>

   <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"a0fa9dbf32d6d8d089bcca1a7","lid":"02b5edf5cf"}) })</script>