
<section style="padding-top:120px">

<div class="container">
          <h2 class="text-center">Photo Gallery</h2>
          <div class="spacer-sm"></div>
           <div class="row">
               <div class="col-md-4">
                   
                   <img class="img-thumbnail" width="200%" src="../img/travel1.jpg" alt="">
                   {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus sapiente consectetur enim, accusantium a recusandae accusamus non vitae magni quis vel fugiat alias eveniet rem, dolore laudantium veritatis magnam.</p> --}}
               </div>
               
                 <div class="col-md-4">
                   
                   <img class="img-thumbnail" width="200%" src="../img/travel2.jpg" alt="">
                   {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus sapiente consectetur enim, accusantium a recusandae accusamus non vitae magni quis vel fugiat alias eveniet rem, dolore laudantium veritatis magnam.</p> --}}
               </div>
               
               
                 <div class="col-md-4">
                   
                   <img class="img-thumbnail" width="200%" src="../img/travel3.jpg" alt="">
                   {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus sapiente consectetur enim, accusantium a recusandae accusamus non vitae magni quis vel fugiat alias eveniet rem, dolore laudantium veritatis magnam.</p> --}}
               </div>
           </div>
       </div>


</section>


 <div class="spacer"></div>
    
    
     <section>
       <div class="container">
          <h2 class="text-center">Our Videos</h2>
          <div class="spacer-sm"></div>
           <div class="row">
               <div class=" col-md-4 offset-md-3"> 
                  
                <iframe width="800" height="400" src="https://www.youtube.com/embed/5IOv9y4XxzQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               
              </div>
              <div class="spacer-sm"></div>

               <div class="col-md-4 offset-md-3">
                  
                <iframe  width="800" height="400" src="https://www.youtube.com/embed/ccTI6hipys0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
              </div>
           </div>
           <div class="spacer"></div>
       </div>
    </section>
    